@import "tailwindcss";

@theme {
  --color-primary: #8d7b68;
  --color-secondary: #a4907c;
  --color-accent: #c8b6a6;
  --color-bg-base: #f1dec9;
  --color-text-main: #3e3232;
}

body {
  @apply bg-bg-base text-text-main font-sans;
}

.btn-primary {
  @apply bg-primary hover:bg-secondary text-white px-10 py-4 font-bold uppercase tracking-widest transition-all rounded-sm shadow-xl;
}

.section-title {
  @apply text-4xl font-serif text-text-main mb-6;
}

.nav-link {
  @apply text-sm uppercase tracking-widest text-text-main hover:text-primary transition-colors font-bold;
}
