@import "tailwindcss";

@theme {
  --color-primary: #f43f5e;
  --color-secondary: #0f172a;
  --color-accent: #fbbf24;
  --color-bg-dark: #020617;
  --color-text-main: #ffffff;
  --color-text-muted: #94a3b8;
}

body {
  @apply bg-bg-dark text-text-main font-sans antialiased;
}

.nav-link {
  @apply text-sm font-medium uppercase tracking-wider text-text-muted hover:text-white transition-colors cursor-pointer;
}

.nav-link-active {
  @apply text-primary border-b-2 border-primary pb-1;
}

.btn-primary {
  @apply bg-primary hover:bg-rose-600 text-white px-6 py-2 rounded-md font-bold text-sm transition-all;
}

.btn-glass {
  @apply bg-white/10 hover:bg-white/20 text-white px-6 py-2 rounded-md font-bold text-sm backdrop-blur-md transition-all;
}

.movie-card-rating {
  @apply absolute top-2 right-2 bg-black/60 backdrop-blur-md text-accent text-[10px] font-bold px-1.5 py-0.5 rounded flex items-center gap-1;
}
